'context-menu':
  'atom-text-editor': [
    {
      'label': 'Activar Contador Palabras'
      'command': 'contador-palabras:Activar'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Contador Palabras'
      'submenu': [
        {
          'label': 'Activar'
          'command': 'contador-palabras:Activar'
        }
      ]
    ]
  }
]
